@font-face {
  font-family: Aileron;
  /* src:  url('./fonts/Aileron-Black.otf') format('opentype');
  src:  url('./fonts/Aileron-BlackItalic.otf') format('opentype');
  src:  url('./fonts/Aileron-Bold.otf') format('opentype');
  src:  url('./fonts/Aileron-BoldItalic.otf') format('opentype');
  src:  url('./fonts/Aileron-Heavy.otf') format('opentype');
  src:  url('./fonts/Aileron-HeavyItalic.otf') format('opentype');
  src:  url('./fonts/Aileron-Italic.otf') format('opentype'); */
  src:  url('./fonts/Aileron-Regular.otf') format('opentype');
  /* src:  url('./fonts/Aileron-Light.otf') format('opentype');
  src:  url('./fonts/Aileron-LightItalic.otf') format('opentype');
  src:  url('./fonts/Aileron-SemiBold.otf') format('opentype');
  src:  url('./fonts/Aileron-SemiBoldItalic.otf') format('opentype');
  src:  url('./fonts/Aileron-Thin.otf') format('opentype');
  src:  url('./fonts/Aileron-ThinItalic.otf') format('opentype');
  src:  url('./fonts/Aileron-UltraLight.otf') format('opentype');
  src:  url('./fonts/Aileron-UltraLightItalic.otf') format('opentype'); */
  /* font-weight: 600;
  font-style: normal; */
}

.hello{
  color: red;
  font-family: 'Aileron', 'Papyrus';

  /* background: url('./coolCat.png'); */
}
